.list {
    display: flex;
    flex-direction: column;
    max-height: 220px;
    overflow: scroll
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-item h2 {
    font-size: 1.1em;
}

.badges {
    display: flex;
    margin-top: .2rem;
}